<div class="container">
    <div class="panel panel-primary">
        <div class="panel-heading">
            Liste des produits
        </div>
        <div class="panel-body">
            <form #f="ngForm" (ngSubmit)="onSearch(f.value)">
                <div class="form-group">
                    <label >Mot clé: </label>
                    <input type="text" name="keyword" ngModel>
                    <button type="submit" class="btn btn-primary">
                        <span class="glyphicon glyphicon-search"></span>
                        Chercher
                    </button>
                </div>
            </form>
            <table class="table table-primary" *ngIf="products">
                <thead>
                    <tr>
                    <th>ID</th>
                    <th>Designation</th>
                    <th>Prix</th>
                    <th>Quantité</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let p of products._embedded.produits">
                        <td>{{p.id}}</td>
                        <td>{{p.designation}}</td>
                        <td>{{p.price}}</td>
                        <td>{{p.quantite}}</td>
                        <td>
                            <a class="btn btn-success" (click)="onEdit(p)">Modifier</a>
                        </td>
                        <td>
                            <a class="btn btn-danger" (click)="onDelete(p)">Supprimer</a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <ul *ngIf="pages" class="nav nav-pills">
                <li *ngFor="let p of pages; let i=index" [ngClass]="i==currentPage?'active':''"> 
                    <a class="clickable" (click)="onPageProduct(i)">{{i}}</a> 
                </li>
            </ul>
        </div>
    </div>
</div>